@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{  

    background: rgb(230,255,250);
    background: linear-gradient(3deg, rgba(230,255,250,1) 42%, rgba(202,255,240,1) 100%);
    background-attachment: fixed;
}