@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


body{  

    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(247, 255, 199) 100%);
    background-attachment: fixed;
}