body{  

    overflow: auto;
    background: linear-gradient(315deg, rgba(61, 234, 255, 1) 3%, rgb(140, 203, 240) 38%, rgb(32, 222, 255) 68%, rgb(61, 145, 255) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    font-family: 'Poppins', 'Lato', sans-serif;
}

*{
    font-family: 'Poppins', 'Lato', sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 2em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}


.teamcode_field{
    width: 200px;
}


.creation{
    width: 360px;
    height: min-content;
    padding: 20px;
    border-radius: 12px;
    background: #fff;
}

.login h1{
    font-size: 35px;
    margin-bottom: 25px;
}

.login form{
    font-size: 20px;
}

.login form .form-group{
    margin-bottom: 12px;
}

.login form[type="submit"]{
    font-size: 20px;
    margin-top: 15px;

}
.form-a-tag{
    text-decoration: none;
    color: rgb(5, 150, 29);
    font-size: 15px;
}
.form-a-tag:hover{
    color: rgb(0, 119, 255);
}

.project-logo{
    width: 650px;
    height: 300px;
}