@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


*{
    font-family: 'Poppins', 'Lato', sans-serif;
}

.notch-container{
    display: flex;
    justify-content: center;
    align-items: top; 
    margin-top: 45px;
}


.notch{
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background: rgb(0, 0, 0);
}

.notch ul{
    display: flex;
    width: 500px;
}

.notch ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.notch ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.notch ul li a .notch-icon{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.1s;
    color: #fff;
}


.notch ul li:hover a .notch-myproject{
    transform: translateY(-35px);
    color: #8e40ff;
    background-color: black;
    width: 75px;
    border-radius: 20px;
}

.notch ul li:hover a .notch-ideas{
    transform: translateY(-35px);
    color: #ffe437;
    background-color: black;
    width: 75px;
    border-radius: 20px;
}

.notch ul li:hover a .notch-home{
    transform: translateY(-35px);
    color: #14fbb2;
    opacity: 1;
    background-color: black;
    width: 75px;
    border-radius: 20px;
}

.notch ul li:hover a .notch-myteam{
    transform: translateY(-35px);
    color: #3deaff;
    background-color: black;
    width: 75px;
    border-radius: 20px;
}

.notch ul li:hover a .notch-myuser{
    transform: translateY(-35px);
    color: #ff60c2;
    background-color: black;
    width: 75px;
    border-radius: 20px;
}

.notch ul li a .notch-text{
    position: absolute;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    color: #fff;
    transition: 0.3s;
    opacity: 0;
    transform: translateY(20px);
}

.notch ul li:hover a .notch-myproject-text{
    opacity: 1;
    transform: translateY(10px);
    color: #8e40ff;
}

.notch ul li:hover a .notch-ideas-text{
    opacity: 1;
    transform: translateY(10px);
    color: #ffe437;
}

.notch ul li:hover a .notch-home-text{
    opacity: 1;
    transform: translateY(10px);
    color: #14fbb2;
}

.notch ul li:hover a .notch-myteam-text{
    opacity: 1;
    transform: translateY(10px);
    color: #3deaff;
}

.notch ul li:hover a .notch-myuser-text{
    opacity: 1;
    transform: translateY(10px);
    color: #ff60c2;
}


